@import "./theme.css";

.freeman-regular {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.primary-hover:hover {
    background-color: var(--surface-dim);
}

.extra-text {
    font-size: 1.5rem;
}

.large-icon {
    display: flex;
    font-size: 32px;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
}

.tiny-height {
    block-size: 6rem !important;
}

.full-width {
    width: 100% !important;
}

.screen-width {
    width: 100vw;
}

.highcharts-data-label span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px; /* Replace with your desired size */
    height: 22px; /* Replace with your desired size */
    background-color: black;
    border-radius: 50%;
    color: white; /* Text color inside the circle */
}

.stickman-wrapper {
    width: 300px;
    height: 300px;
    position: relative;
    //animation: pop-in 1s;
    z-index: 1;
}

.head {
    width: 55px;
    height: 58px;
    border: 5px solid black;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 31px;
    left: 133px;
    z-index: 5;
    background-color: black;
    transform-origin: center bottom;
}

.head:focus-visible {
    outline: 4px solid red;
}

.head:hover {
    outline: 4px solid red;
}

.leftear {
    width: 15px;
    height: 20px;
    border: 6px solid black;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 45px;
    left: 126px;
    background-color: lightgray;
    z-index: 4;
}

.leftear:focus-visible {
    outline: 4px solid red;
}

.leftear:hover {
    outline: 4px solid red;
}

.rightear {
    width: 15px;
    height: 20px;
    border: 6px solid black;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 45px;
    left: 180px;
    background-color: lightgray;
    z-index: 4;
}

.rightear:focus-visible {
    outline: 4px solid red;
}

.rightear:hover {
    outline: 4px solid red;
}

.lefteye {
    width: 10px;
    height: 10px;
    border: 2.2px solid white;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 51px;
    left: 146px;
    z-index: 6;
    background-color: black;
}

.lefteye:focus-visible {
    outline: 4px solid red;
}

.lefteye:hover {
    outline: 4px solid red;
}

.righteye {
    width: 10px;
    height: 10px;
    border: 2.2px solid white;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 51px;
    left: 164px;
    z-index: 6;
    background-color: black;
}

.righteye:focus-visible {
    outline: 4px solid red;
}

.righteye:hover {
    outline: 4px solid red;
}

.mouth {
    display: block;
    position: absolute;
    top: 68px;
    left: 148px;
    width: 20px;
    height: 10px;
    background-color: white;
    border: 1px solid;
    border-radius: 0 0 10px 10px;
    z-index: 6;
    pointer-events: none;
}

.neck {
    width: 12px;
    height: 20px;
    border: 6px solid black;
    background-color: black;
    display: block;
    position: absolute;
    top: 80px;
    left: 153px;
    pointer-events: none;
    z-index: 4;
}

.stomach {
    width: 12px;
    height: 56px;
    border: 6px solid black;
    background-color: black;
    display: block;
    position: absolute;
    top: 94px;
    left: 153px;
    z-index: 5;
}

.stomach:focus-visible {
    outline: 4px solid red;
}

.stomach:hover {
    outline: 4px solid red;
}

.leftleg {
    width: 12px;
    height: 100px;
    border: 6px solid black;
    background-color: black;
    display: block;
    position: absolute;
    top: 144px;
    left: 154px;
    transform: rotate(20deg);
    transform-origin: top;
    z-index: 3;
}

.leftleg:focus-visible {
    outline: 4px solid red;
}

.leftleg:hover {
    outline: 4px solid red;
}

.rightleg {
    width: 12px;
    height: 100px;
    border: 6px solid black;
    background-color: black;
    display: block;
    position: absolute;
    top: 144px;
    left: 152px;
    transform: rotate(-20deg);
    transform-origin: top;
    z-index: 3;
}

.rightleg:focus-visible {
    outline: 4px solid red;
}

.rightleg:hover {
    outline: 4px solid red;
}

.leftarm {
    width: 70px;
    height: 6px;
    border: 6px solid black;
    background-color: black;
    display: block;
    position: absolute;
    top: 86px;
    left: 87px;
    transform-origin: 100%;
    transform: rotate(-55deg);
    z-index: 4;
}

.leftarm:focus-visible {
    outline: 4px solid red;
}

.leftarm:hover {
    outline: 4px solid red;
}

.rightarm {
    width: 70px;
    height: 6px;
    border: 6px solid black;
    background-color: black;
    display: block;
    position: absolute;
    top: 86px;
    left: 161px;
    transform-origin: 0%;
    transform: rotate(55deg);
    z-index: 4;
}

.rightarm:focus-visible {
    outline: 4px solid red;
}

.rightarm:hover {
    outline: 4px solid red;
}

@keyframes pop-in {
    from {
        opacity: 0;
        transform: scale(0.7);
    } /* Start invisible and shrunk */
    to {
        opacity: 1;
        transform: scale(1);
    } /* Animate to full opacity and scale */
}

.current-counter {
    &::after {
        content: "%";
    }
}
